<section class=" home container">
  <div class="text-center">
    <div class="selectBox">
      <select class="form-control" id="pdps" ng-model="$ctrl.pdp" name="pdp" ng-change="$ctrl.selection($ctrl.pdp)">
        <option ng-repeat="pdp in $ctrl.pdps">{{pdp}}</option>
      </select>
    </div>
    <div class="actions">
      <button class="btn btn-success" ui-sref="addForm">
        Create
      </button>
      <button class="btn btn-warning" ng-click=" $ctrl.btnText = !$ctrl.btnText; pdp.editing[key] = !pdp.editing[key]" >
        {{$ctrl.btnText ? 'Edit' : 'Save'}}
      </button>
      <button class="btn btn-danger" ng-click="$ctrl.deletePdp()" ng-disabled="$ctrl.pdps.length < 2">
        Delete
      </button>
    </div>
  </div>
  <div>
    <table class="table table-bordered">
      <thead class="table-info">
        <tr>
          <th ng-repeat="key in $ctrl.keys" ng-hide="key == '_id' || key == 'undefined'" id="#tKeys">{{key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pdp in $ctrl.data">
          <td ng-repeat="(key, value) in pdp" ng-hide="key == '_id' || key == 'undefined'" ng-click="!$ctrl.btnText ? pdp.editing[key] = true : ''">
          <input ng-if="pdp.editing[key]" placeholder="{{value}}" ng-blur="$ctrl.blur(pdp, pdp[key], pdp.editing)" ng-model="pdp[key]">
          <p ng-if="!pdp.editing[key]">
            {{value}}
          </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
