<div class="text-center" ng-if="!$ctrl.printing">
  <h1 class="waterHeadline">{{$ctrl.system}} Water System</h1>
  <div class="actions">
    <button class="btn btn-primary pointer" ng-click="$ctrl.printer()">
      Print
    </button>
  </div>
</div>
<div class="graph" >
  <div ng-if="$ctrl.loading" class="text-center">
    <div class="loader text-center" id="loading"></div>
    This may take some time to calculate...
  </div>
  <div class="graphItem" id="myChart" style="max-width: 85vw; height: 70vh;"></div>
  <div class="graphItem" id="myChart2" style="max-width: 85vw; height: 70vh;"></div>
</div>
