<div class="text-center" ng-if="!$ctrl.printing">
  <h1 class="waterHeadline">{{$ctrl.system}} Water System</h1>
  <button class="btn btn-primary" ng-click="$ctrl.printer()">
    Print
  </button>
</div>
<div class="graph" >
  <!-- <canvas id="line" class="chart chart-line" chart-data="$ctrl.data"
    chart-labels="$ctrl.labels" chart-series="$ctrl.series" chart-options="$ctrl.options"
    chart-dataset-override="$ctrl.datasetOverride" chart-colors="$ctrl.colors">
  </canvas>
  <canvas id="line" class="chart chart-line" chart-data="$ctrl.dataDaily"
    chart-labels="$ctrl.labelsDaily" chart-series="$ctrl.series" chart-options="$ctrl.optionsDaily"
    chart-dataset-override="$ctrl.datasetOverride" chart-colors="$ctrl.colors">
  </canvas> -->
  <div class="loader text-center" id="loading"></div>
  <div class="graphItem" id="myChart" style="width: 80vw; height: 70vh;"></div>
  <div class="graphItem" id="myChart2" style="width: 80vw; height: 70vh;"></div>
</div>
