<div class="text-center" ng-if="!$ctrl.printing">
  <div class="actions">
    <button class="btn btn-primary pointer" ng-click="$ctrl.printer()">
      Print
    </button>
  </div>
</div>
<section>
  <div>
    <div ng-if="$ctrl.loading" class="text-center">
      <div class="loader text-center" id="loading"></div>
      This may take some time to calculate...
    </div>
    <div class="graphItem" id="myChart" style="width: 85vw; height: 70vh;"></div>
    <div class="graphItem" id="myChart3" style="width: 85vw; height: 70vh;"></div>
    <div class="graphItem" id="myChart2" style="width: 85vw; height: 70vh;"></div>
    <div class="graphItem" id="myChart4" style="width: 85vw; height: 70vh;"></div>
  </div>
</section>
