<div class="text-center">
  <button class="btn btn-primary" ng-click="$ctrl.printer()">
    Print
  </button>
</div>
<section class="container" style="margin-left: 0;">
  <div class="graph">
    <canvas id="line" class="chart chart-line" chart-data="$ctrl.data"
      chart-series="$ctrl.series" chart-options="$ctrl.optionsLine"
      chart-colors="$ctrl.colorsLine">
    </canvas>
    <canvas id="line" class="chart chart-line" chart-data="$ctrl.data"
      chart-series="$ctrl.series" chart-options="$ctrl.options"
      chart-colors="$ctrl.colors">
    </canvas>
    <canvas id="line" class="chart chart-line" chart-data="$ctrl.dailyData"
      chart-series="$ctrl.series" chart-options="$ctrl.optionsDaily"
      chart-colors="$ctrl.colorsLine">
    </canvas>
    <canvas id="line" class="chart chart-line" chart-data="$ctrl.dailyData"
      chart-series="$ctrl.series" chart-options="$ctrl.optionsDailyStacked"
      chart-colors="$ctrl.colors">
    </canvas>
  </div>
</section>
