
  <div id="table">
    <h3>Wells in System</h3>
    <table class="table table-responsive table-bordered table-striped table-scroll">
      <thead class="table-info">
        <tr>
          <th ng-repeat="(key, value) in $ctrl.wells[0]" id="#tKeys">{{key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="well in $ctrl.wells | orderBy: $ctrl.orderFunction">
          <td ng-repeat="(key, value) in well">
            {{value}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
