<section class="container">
  <div id="table" class="daily">
    <table class="table table-responsive table-bordered table-striped table-scroll">
      <thead class="table-info">
        <tr>
          <th ng-repeat="(key,value) in $ctrl.same[0]">{{key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="month in $ctrl.same | orderBy: $ctrl.orderFunction" >
          <td ng-repeat="(key, value) in month">
            {{value}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
