body {
  -webkit-print-color-adjust: exact;
}

.actions {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}

.pointer {
  cursor: pointer;
}

.grab {
  cursor: -webkit-grab !important;
  cursor:-moz-grab !important;
}

.grab:active {
  cursor: -webkit-grabbing !important;
  cursor:-moz-grabbing !important;
}

.graph {
  margin-left: 0;
}

.btn {
  margin: 0.25em;
  height: 3em;
}
nav {
  background: linear-gradient(#2174ad,#376379);
  height: 20%;
}
nav .container {
  display: flex;
  justify-content: space-around;
}
.buttons {
  top: 50%;
  align-self: center;
}

.orange {
  background-color: #ffcc80 !important;
  -webkit-print-color-adjust: exact !important;
}

.lightOrange {
  background: #fff5e6 !important;
  -webkit-print-color-adjust: exact !important;
}

.completedColor {
  background: #d9f2e6 !important;
  -webkit-print-color-adjust: exact !important;
}

.purple {
  background-color: #bf80ff !important;
  -webkit-print-color-adjust: exact !important;
}

.blue {
  background-color: #33adff !important;
  -webkit-print-color-adjust: exact !important;
}

.green {
  background-color: #59b300 !important;
  -webkit-print-color-adjust: exact !important;
}

.lightGreen {
  background-color: #b3ff66 !important;
  -webkit-print-color-adjust: exact !important;
}

.table-info, .table-info>td, .table-info>th {
  background-color: #d9edf7 !important;
  -webkit-print-color-adjust: exact;
}

#table2 {
  margin: auto;
  text-align: center;
}

.logo {
  background-image: url('./assets/Centennial-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0.25em;
  height: auto;
  width: 25%;
}
.home {
  margin-top: 0.5em;
  margin-left: 0.75em;
}

.table {
  font-size: 0.75em;
}
.sortable-placeholder {
  background: #dae2ef;
}
.tables {
  margin-top: 1.5em;
}

.printing {
  zoom: 25%;
  -webkit-print-color-adjust: exact !important;
}

.printingGraphs {
  zoom: 75%;
  -webkit-print-color-adjust: exact !important;
}

.pMargins {
  margin-left: 0;
}

.formWrapper {
  width: 30%;
}

.selectBox {
  margin-left: 2em;
  width: 30%;
}

.waterHeadline {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 1em;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 90%;
  width: 8em;
  height: 8em;
  text-align: center;
  margin: auto;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top-color: #26d629;
    border-right-color: #07efdf;
    border-bottom-color: #ad07ef;
    border-left-color: #ef0707;
    border-style: dotted;
  }
  50% {
    transform: rotate(180deg);
    border-top-color: #ad07ef;
    border-left-color: #07efdf;
    border-right-color: #ef0707;
    border-bottom-color: #26d629;
    border-style: solid;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: #26d629;
    border-right-color: #07efdf;
    border-bottom-color: #ad07ef;
    border-left-color: #ef0707;
    border-style: dotted;
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
  }

  .table-responsive.table-bordered {
    border: 1px solid #363030 !important;
  }
  .ng-scope .orange {
    background-color: #ffcc80 !important;
    -webkit-print-color-adjust: exact;
  }

  .ng-scope .lightOrange {
    background-color: #fff5e6 !important;
    -webkit-print-color-adjust: exact !important;
  }

  .ng-scope .completedColor {
    background-color: #d9f2e6 !important;
    -webkit-print-color-adjust: exact !important;
  }

  .ng-scope .purple {
    background-color: #bf80ff !important;
    -webkit-print-color-adjust: exact;
  }

  .ng-scope .blue {
    background-color: #33adff !important;
    -webkit-print-color-adjust: exact;
  }

  .ng-scope .green {
    background-color: #59b300 !important;
    -webkit-print-color-adjust: exact;
  }

  .ng-scope .lightGreen {
    background-color: #b3ff66 !important;
    -webkit-print-color-adjust: exact;
  }

  #tKeys {
    background-color: #d9edf7 !important;
    -webkit-print-color-adjust: exact;
  }

  .table td,
  .table th {
    background-color: inherit !important;
  }

  .graphItem {
    page-break-after: always;
  }

}
