<div class="text-center" ng-if="!$ctrl.printing">
  <div class="actions">
    <button class="btn btn-primary" ng-click="$ctrl.printer()">
      Print
    </button>
  </div>
</div>
<section class="container" ng-class="$ctrl.printingMargins">
  <div class="graph">
    <div class="loader text-center" id="loading"></div>
    <div class="graphItem" id="myChart" style="width: 80vw; height: 70vh;"></div>
    <div class="graphItem" id="myChart3" style="width: 80vw; height: 70vh;"></div>
    <div class="graphItem" id="myChart2" style="width: 80vw; height: 70vh;"></div>
    <div class="graphItem" id="myChart4" style="width: 80vw; height: 70vh;"></div>
  </div>
</section>
