<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="buttons" style="display: flex">
      <button class="btn btn-info" ui-sref="home" style="margin: 2em 2em 0 0;">
        Home
      </button>
      <div style="display: flex; flex-direction: column;">
        <div style="display: flex">
          <button class="btn btn-success" ui-sref="graphs">
            View All
          </button>
          <div ng-repeat="system in $ctrl.systems" style="display: flex">
            <a ui-sref="water({water: system})">
              <button type="button" class="btn btn-success">
                {{system}}
              </button>
            </a>
          </div>
        </div>
        <div>
          <a ui-sref="tc">
            <button type="button" class="btn btn-warning">
              Type Curves
            </button>
          </a>
          <a ui-sref="pdp">
            <button type="button" class="btn btn-danger">
              PDP
            </button>
          </a>
          <a ui-sref="production({type:'Gross'})">
            <button type="button" class="btn btn-info">
              Gross Production
            </button>
          </a>
          <a ui-sref="production({type:'Net'})">
            <button type="button" class="btn btn-info">
              Net Production
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="logo">
    </div>
  </div>
</nav>
