<section class="home container">
  <div class="text-center">
    <div class="selectBox">
      <select class="form-control" id="tcs" ng-model="$ctrl.tc" name="tc" ng-change="$ctrl.selection($ctrl.tc)">
        <option ng-repeat="tc in $ctrl.tcs">{{tc}}</option>
      </select>
    </div>
    <div class="actions">
      <button class="btn btn-success" ui-sref="addForm">
        Create
      </button>
      <button class="btn btn-warning" ng-click="$ctrl.btnText = !$ctrl.btnText" >
        {{$ctrl.btnText ? 'Edit' : 'Save'}}
      </button>
      <button class="btn btn-danger" ng-click="$ctrl.deleteTc()" ng-disabled="$ctrl.tcs.length < 2">
        Delete
      </button>
    </div>
  </div>
  <table class="table table-bordered" ng-class="$ctrl.printing">
    <thead class="table-info">
      <tr>
        <th ng-repeat="key in $ctrl.keys" ng-hide="key == '_id' || key == 'undefined' || key == 'TC'" id="#tKeys">{{key}}</th>
      </tr>
    </thead>
    <tbody infinite-scroll="$ctrl.loadMore()" infinite-scroll-distance="3">
      <tr ng-repeat="day in $ctrl.data | limitTo:$ctrl.displayed">
        <td ng-repeat="(key, value) in day" ng-hide="key == '_id' || key == 'undefined' || key == 'TC' || key == 'editing'" ng-click="!$ctrl.btnText ? day.editing[key] = true : ''">
        <input ng-if="day.editing[key]" placeholder="{{value}}" ng-blur="$ctrl.blur(day, day[key], day.editing)" ng-model="day[key]">
        <p ng-if="!day.editing[key]">
          {{value}}
        </p>
        </td>
      </tr>
    </tbody>
  </table>
</section>
